<!DOCTYPE html>
<head>
  <script src="./js/app.js"></script>
</head>
<body>
  <div>
    <text>Hello, this is an email test for node.js!</text>
    <text>Please fill out the form below and we will sent you a confirmation email!</text>
  </div>
  <form action = "http://localhost:8081/" method = "POST">
    <input type ="text" id ="fname" placeholder="First Name">
    <input type ="text" id ="lname" placeholder="Last Name">
    <input type ="text" id ="email" placeholder="Email Address">
    <input type ="text" id ="cemail" placeholder="Confirm Email Address">
    <input type ="submit" value = "Submit">
  </form>
</body>
